<footer>
    <!-- footer content begin -->
    <div class="uk-section uk-section-muted uk-margin-large-top">
        <div class="uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@m in-footer-left">
                    <img class="in-footer-logo uk-visible@m" src="{{root}}{{content.footer.logo-img}}" width="{{content.footer.logo-width}}" height="{{content.footer.logo-height}}" alt="indonez-logo">
                    <p class="uk-text-center uk-text-left@m">Premium design built with <i class="fas fa-heart fa-sm"></i> by indonez</p>
                </div>
                <div class="uk-width-1-1 uk-width-1-2@m in-footer-right uk-visible@m">
                    <p class="uk-text-right@m">Got questions? Reach us at <a href="mailto:{{content.footer.email}}">{{content.footer.email}}</a></p>
                </div>
            </div>
        </div>
        {{> module-totop }}
    </div>
    <!-- footer content end -->
</footer>
