<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m in-blog-1" data-uk-grid>
            <div>
                <article class="uk-card uk-card-default uk-border-rounded">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-blog-image-4.jpg" alt="sample-image">
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-7.png" alt="image-team" width="24" height="24">
                            </div>
                            <div>
                                <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                    <a href="#">Scott Baker</a>
                                    <span class="uk-margin-small-left uk-margin-small-right">•</span>
                                    April 4, 2020
                                </p>
                            </div>
                        </div>
                        <h3 class="uk-margin-top">
                            <a href="#">Carnival cancels all sailings until late June</a>
                        </h3>
                        <p>Carnival Cruise Line has been forced to suspend further sailings ...</p>
                        <a href="#" class="uk-button uk-button-text">Continue reading</a>                      
                    </div>
                </article>
            </div>
            <div>
                <article class="uk-card uk-card-default uk-border-rounded">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-blog-image-5.jpg" alt="sample-image">
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-8.png" alt="image-team" width="24" height="24">
                            </div>
                            <div>
                                <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                    <a href="#">Timothy Watkins</a>
                                    <span class="uk-margin-small-left uk-margin-small-right">•</span>
                                    April 7, 2020
                                </p>
                            </div>
                        </div>
                        <h3 class="uk-margin-top">
                            <a href="#">Monaco launches now tourism campaign</a>
                        </h3>
                        <p>With more than three billion people around the world under lockdown ...</p>
                        <a href="#" class="uk-button uk-button-text">Continue reading</a>                      
                    </div>
                </article>
            </div>
            <div>
                <article class="uk-card uk-card-default uk-border-rounded">
                    <div class="uk-card-media-top">
                        <img src="{{root}}img/in-blog-image-6.jpg" alt="sample-image">
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-flex uk-flex-middle">
                            <div class="uk-margin-small-right">
                                <img class="uk-border-pill uk-background-muted" src="{{root}}img/in-team-1.png" alt="image-team" width="24" height="24">
                            </div>
                            <div>
                                <p class="uk-text-small uk-text-muted uk-margin-remove-bottom">
                                    <a href="#">Cynthia Dixon</a>
                                    <span class="uk-margin-small-left uk-margin-small-right">•</span>
                                    April 14, 2020
                                </p>
                            </div>
                        </div>
                        <h3 class="uk-margin-top">
                            <a href="#">Atlantis, the Palm boosts spirits in Dubai</a>
                        </h3>
                        <p>Atlantis, the Palm has been playing its role in maintain morale in Dubai ...</p>
                        <a href="#" class="uk-button uk-button-text">Continue reading</a>                      
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
