<!-- section content begin -->
<div class="uk-section uk-section-primary in-feature-section product">
    <div class="uk-container">
        <div class="uk-grid in-feature-small" data-uk-grid>
            <div class="uk-width-1-1 uk-width-auto@s uk-width-2-3@m">
                <ul class="in-tab-product" data-uk-tab data-uk-switcher="connect: .switcher-container">
                    <li class="uk-active"><a href="#"><i class="fas fa-box-open fa-xs uk-margin-small-right"></i>Overview</a></li>
                    <li><a href="#"><i class="fas fa-copy fa-xs uk-margin-small-right"></i>Pages</a></li>
                    <li><a href="#"><i class="fas fa-tasks fa-xs uk-margin-small-right"></i>Changelog</a></li>
                    <li><a href="#"><i class="fas fa-wrench fa-xs uk-margin-small-right"></i>Support</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-expand@s uk-width-1-3@m">
                <div class="in-price">
                    <div class="in-share-button">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{fb-share}}" target="_blank" class="shr__button shr__button--facebook js-shr">
                            <i class="fab fa-facebook-f"></i>Share
                        </a>
                        <a href="https://twitter.com/intent/tweet?text=Check%20out%20'{{tw-title}}'%20by%20indonez%20%23themeforest%20%23html%20%23template&amp;url={{tw-share}}&amp;via=indonez_tw" target="_blank" class="shr__button shr__button--twitter js-shr">
                            <i class="fab fa-twitter"></i>Tweet
                        </a>
                        <a href="http://pinterest.com/pin/create/button/?url={{pin-share}}&amp;media={{pin-image}}&amp;description={{pin-title}}" target="_blank" class="shr__button shr__button--pinterest js-shr">
                            <i class="fab fa-pinterest"></i>Pin it
                        </a>
                    </div>        
                    <h3 class="uk-float-left"><span class="currency">$</span>10</h3>
                    <p class="uk-float-left uk-visible@s">exclusive at Themeforest</p>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-1 uk-margin-medium-bottom">
                <hr>
            </div>            
            <div class="uk-width-expand@m">
                <ul class="uk-switcher switcher-container uk-margin-right">
                    <li>
                        <h2 class="uk-margin-remove-bottom">Revolutionary financial HTML template</h2>
                        <p class="uk-text-lead uk-margin-remove-top uk-margin-medium-bottom">A breakthrough for forex, stock or invesment company that want level up their experience with professional design.</p>
                        <p>Monee created for all businesses that are related to the sphere of finance – banking, business consulting, especially to forex and stock broker business.</p>
                        <p>Comes with 4 homepage variant and equipped with latest web technology including Sass for flexible and rapid customization. I’ts come with responsive design that look stunning on every devices and also optimize for page speed performance and SEO friendly.</p>
                        
                        <h3>What features included</h3>
                        <div class="uk-grid uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-bottom uk-text-center in-tile-product">                            
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fab fa-uikit fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">UIkit 3 framework</h6>
                                <p class="uk-margin-small-top">A lightweight and modular front-end framework.</p>
                            </div>
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fab fa-sass fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">SASS technologies</h6>
                                <p class="uk-margin-small-top">Powerful professional grade CSS extension language.</p>
                            </div>
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fas fa-mobile-alt fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">Responsive design</h6>
                                <p class="uk-margin-small-top">Displays well in all modern browsers and devices</p>
                            </div>
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fas fa-tachometer-alt fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">Speed optimized</h6>
                                <p class="uk-margin-small-top">Best performance at GTmetrix &amp; PageSpeed Insights</p>
                            </div>
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fas fa-code fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">W3C validate</h6>
                                <p class="uk-margin-small-top">100% validated with no errors with latest HTML 5</p>
                            </div>
                            <div class="in-tile uk-transition-toggle" tabindex="0">
                                <div class="in-icon-wrapper transparent uk-margin-small-bottom">
                                    <i class="fas fa-eraser fa-3x"></i>
                                </div>
                                <h6 class="uk-margin-remove-top uk-margin-remove-bottom">Clean markup</h6>
                                <p class="uk-margin-small-top">Free of clutter and standards compliant from W3C</p>
                            </div>                            
                        </div>
                        
                    </li>
                    <li>
                        <div class="in-product-pages uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid="masonry: true">                            
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/markets.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-markets.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Markets</p>                                
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-homepage.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Homepage</p>
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/about.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-about.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">About</p>                                
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/customers.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-customers.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Customers</p>                                
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/contact.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-contact.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Contact</p>                                
                            </div> 
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/blog.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-blog.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Blog</p>                                
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/education.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-education.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Education</p>                                
                            </div>
                            <div>
                                <a href="https://www.indonez.com/html-demo/Monee/careers.html" target="_blank"><img src="{{root}}img/product/monee/thumb-monee-careers.jpg " alt="monee-homepage" width="225" height="471"></a>
                                <p class="uk-margin-small-top uk-text-center">Careers</p>                                
                            </div>
                        </div>
                        <h5 class="uk-text-center">And many more...</h5>
                    </li>
                    <li>
                        <div class="in-changelog">
                            <div class="in-changelog-content uk-position-relative">
                                <h5>ver 1.1.2<span class="uk-label">3 March 2020</span></h5>
                                <ul class="uk-list uk-list-divider">
                                    <li>Fix email form won't validate in contact form</li>
                                    <li>Fix header glicth visual when first load</li>
                                    <li>Add uk-container after uk-section to follow UIkit rules</li>
                                    <li>Refactor style.css for better flexibility &amp; performance</li>
                                    <li>Improve design in about page (at team section)</li>
                                    <li>Switch from Google fonts to self host</li>
                                    <li>Update to latest UIkit 3.3.3</li>
                                </ul>
                            </div>
                            <div class="in-changelog-content uk-position-relative">
                                <h5>ver 1.1.1<span class="uk-label">25 February 2020</span></h5>
                                <ul class="uk-list uk-list-divider">
                                    <li>Fix responive layout issue at bid/ask table and payment list (homepage 4)</li>
                                    <li>Fix container won't center using uk-flex if content not fit container</li>
                                    <li>Fix chevron right icon not show in button 404 page</li>
                                    <li>Add class .in-single-media use for strech media if use large width container</li>
                                    <li>Improve customer card html and stylesheet for flexibility layout</li>
                                    <li>Improve fee rate wrapper design in homepage 2</li>
                                    <li>Refactoring some html element</li>
                                </ul>
                            </div>
                            <div class="in-changelog-content uk-position-relative">
                                <h5>ver 1.1.0<span class="uk-label">21 February 2020</span></h5>
                                <ul class="uk-list uk-list-divider">
                                    <li>Add two extra html page (help center and legal docs)</li>
                                    <li>Add two new slideshow design in homepage 3 and 4</li>
                                    <li>Improve some page design (markets, education, career, blog, single, login, 404)</li>
                                    <li>Improve some small element design (label, blog widget, icon wrapper)</li>
                                    <li>Wrap uk-grid with uk-section tag in every section content for flexibility</li>
                                    <li>Full migrate icons to Font Awesome, using webfonts method for faster load</li>
                                    <li>Stylesheet optimization, make the size smaller</li>
                                </ul>
                            </div>
                            <div class="in-changelog-content uk-position-relative">
                                <h5>ver 1.0.0<span class="uk-label">14 February 2020</span></h5>
                                <ul class="uk-list uk-list-divider">
                                    <li>Initial release</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="uk-text-lead">All the items you buy are quality checked by Envato. Any future update made available by the author is included with every purchase.</p>
                        <h5>Item support includes</h5>
                        <ul class="uk-list uk-list-bullet">
                            <li>Availability of the author to answer questions</li>
                            <li>Answering technical questions about item’s features</li>
                            <li>Assistance with reported bugs and issues</li>
                            <li>Help with included 3rd party assets</li>
                        </ul>
                        <h5>However, item support does not include</h5>
                        <ul class="uk-list in-list-cross">
                            <li>Customization services</li>
                            <li>Installation services</li>
                        </ul>
                        <a href="https://themeforest.net/item/monee-forex-and-stock-broker-html-template/25735942/support/contact" class="uk-button uk-button-primary uk-border-rounded uk-margin-medium-top">Contact Support</a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-3@m">                
                <aside class="uk-margin-bottom">
                    <div class="uk-card uk-card-primary in-product-widget">
                        <div class="uk-card-body">
                            <div class="in-card-rating no-rating">                                
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                                <p>no rating yet</p>
                            </div>
                            <div class="in-sales-count">
                                <i class="fas fa-cart-arrow-down fa-2x uk-float-left"></i>
                                <p class="uk-text-lead">10</p>
                                <p>sales</p>
                            </div>                            
                            <div class="uk-float-left uk-width-1-1 in-envato-list">
                                <ul class="uk-list uk-list-bullet">
                                    <li>Quality checked by Envato</li>
                                    <li>Future updates</li>
                                    <li>6 months support from Indonez</li>
                                </ul>
                            </div>
                            <div class="uk-float-left uk-width-1-1">
                                <ul class="uk-list uk-list-divider uk-margin-remove-bottom">
                                    <li>UIkit<span class="uk-float-right">3.3.3</span></li>
                                    <li>Released<span class="uk-float-right">14 February 20</span></li>
                                    <li>Updated<span class="uk-float-right">3 March 20</span></li>
                                    <li>Version<span class="uk-float-right">1.1.2</span></li>
                                    <li>Category<span class="uk-float-right">Finance</span></li>
                                </ul>
                            </div>
                            <div class="uk-float-left uk-width-1-1">
                                <div class="in-browser-test uk-flex uk-flex-center">
                                    <img src="{{root}}img/browser/in-browser-chrome.svg" alt="chrome" width="24" height="24">
                                    <img src="{{root}}img/browser/in-browser-firefox.svg" alt="chrome" width="24" height="24">
                                    <img src="{{root}}img/browser/in-browser-opera.svg" alt="chrome" width="24" height="24">
                                    <img src="{{root}}img/browser/in-browser-safari.svg" alt="chrome" width="24" height="24">
                                    <img src="{{root}}img/browser/in-browser-edge.svg" alt="chrome" width="24" height="24">
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
