<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-1 in-showcase-slider">
                <div class="in-slidethumb-decor">
                    <h3 class="uk-margin-remove-bottom">Latest HTML templates</h3>
                    <p class="uk-margin-remove-top">Most recently added to our collection.</p>
                </div>                
                <div class="uk-position-relative uk-visible-toggle" tabindex="-1" data-uk-slider="autoplay: true" data-autoplay-interval="6000">
                    <ul class="uk-grid uk-slider-items uk-child-width-1-3@m uk-child-width-1-2@s">
                        {{#each content.latest}}
                        <li>                            
                            <div class="uk-card uk-card-default">                                    
                                <div class="uk-card-body in-card uk-light" style="background-color: {{bg-color}};">
                                    <h4 class="uk-margin-remove-bottom uk-text-center">{{template-name}} <span class="uk-text-small"><i class="fas fa-{{template-icon}} fa-xm"></i>{{template-desc}}</span></h4>
                                    <hr>
                                    <a href="{{template-buy-cta}}" class="uk-button uk-button-small uk-button-link uk-border-rounded uk-float-left">
                                        <i class="fas fa-shopping-cart fa-sm uk-margin-small-right"></i>Purchase for ${{template-price}}
                                    </a>
                                    <div class="uk-float-right in-card-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>                                
                                </div>
                                <div class="uk-card-media-bottom uk-transition-toggle" tabindex="0">
                                    <div class="in-thumb-wrapper">
                                        <img class="uk-width-1-1" src="{{root}}img/in-lazy-thumb.png" data-src="{{root}}{{template-image}}" alt="{{template-alt}}" width="306" height="252" data-uk-img>
                                    </div>                                        
                                    <div class="uk-position-bottom-center">
                                        <div class="uk-transition-slide-bottom-small">
                                            <a href="{{template-demo}}" class="uk-button uk-button-small uk-button-primary uk-border-rounded uk-box-shadow-large">
                                                <i class="fas fa-search"></i> Live preview
                                            </a>
                                        </div>
                                    </div>                             
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
