<!-- header logo begin -->
<div class="in-header-logo uk-flex uk-flex-bottom">
    <a href="{{root}}"><img src="{{root}}{{content.header.logo-img}}" data-src="{{root}}{{content.header.logo-img}}" width="{{content.header.logo-width}}" height="{{content.header.logo-height}}" alt="indonez-logo" data-uk-img></a>
</div>
<!-- header logo end -->
