<!-- mobile navigation begin -->
<div class="uk-navbar-item in-mobile-nav uk-hidden@m">
    <a class="uk-button" href="#modal-full" data-uk-toggle><i class="fas fa-bars"></i></a>
</div>
<div id="modal-full" class="uk-modal-full" data-uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport>
        <a class="uk-modal-close-full uk-button fas fa-times"></a>
        <div class="uk-width-large uk-padding-large">
            <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                {{#each navigation.nav}}
                <li {{#if dropdown}}class="uk-parent"{{/if}}><a href="{{root}}{{link}}">{{title}}</a>{{#unless dropdown}}</li>{{/unless}}
                    {{#if dropdown.[0].standard}}
                    <ul class="uk-nav-sub">
                        {{#each dropdown.[0].standard}}
                        <li><a href="{{root}}{{link}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                    {{else}}
                    {{#if dropdown.[0].multiple}}
                    <ul class="uk-nav-sub">
                        {{#each dropdown.[0].multiple}}
                        <li><a href="{{root}}{{link}}">{{title}}{{#with icon}}<i class="fas {{name}} fa-sm"></i>{{/with}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/if}}
                {{#if dropdown}}</li>{{/if}}
                {{/each}}
            </ul>
            <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-align-center">Sign in<i class="fas fa-sign-in-alt uk-margin-small-left"></i></a>
        </div>
    </div>
</div>
<!-- mobile navigation end -->